@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.woff2);
    src: url(../fonts/Raleway-Regular.ttf) format("truetype");
}

body {
    width: 1160px;
    border-right: 2px solid #782221;
    margin: auto;
    font-family: "Raleway", sans-serif;
}

aside {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
}

.principal {
    display: flex;
    flex-direction: column;
}

.contact__adress {
    display: flex;
    justify-content: space-between;
}

.presentation__figure {
    width: 250px;
    height: 250px;
}

.presentation__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px #2c1d27;
}

.about__text {
    text-indent: 10%;
}

h1, h2, h3, h4, h5 {
    font-family: "Lato", sans-serif;
}